@{
    ViewData["Title"] = "Destinos";
}
<h1>@ViewData["Title"]</h1>





    <div class="container p-5 my-5 border bg-dark">
        <h1 style="text-align: center;" class="text-white">Escolha os melhores destinos e com os melhores preços você só encontra aqui!</h1>
    </div>

    <div class="card-deck">
        <div class="card card col-md-6">
            <img class="card-img-top img-responsive img-rounded" src="~/jamaica.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Jamaica</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <div class="well  well-lg text-center">
                    <a href="https://www.w3schools.com/css/default.asp" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-print"></span> Reserve sua passagem
                    </a>

                </div>
            </div>
        </div>
        <div class="card col-md-6">
            <img class="card-img-top img-responsive img-rounded" src="~/grecia.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Grécia</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <div class="well  well-lg text-center">
                    <a href="https://www.w3schools.com/css/default.asp" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-print"></span> Reserve sua passagem
                    </a>

                </div>
            </div>
        </div>
        <div class="card card col-md-6">
            <img class="card-img-top img-responsive img-rounded" src="~/cidadedocabo.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Cidade do Cabo</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <div class="well  well-lg text-center">
                    <a href="https://www.w3schools.com/css/default.asp" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-print"></span> Reserve sua passagem
                    </a>

                </div>
            </div>
        </div>
    </div>