@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-3">Bem Vindos ao <a class="text-primary"> Viangens</a> pelo Mundo</h1>
        </div>
        <p class="lead text-dark">A vida é feita de momentos e valorizamos muito esses momentos com você, por isso não perca tempo e venha já conhecer nossas praias e vilarejos. Levamos aos nossos clientes todo conforto e tranquilidade que você merece.</p>
        <img style="width:100%" src="~/praia2.jpg" />
        <br /><br /><br />

        <div>
            <p class="text-danger text-xl-center"><b>Ganhe 50% de desconto na sua primeira reserva conosco! Promoção de tempo limitado</b></p>
        </div>
        <br /><br />

              <button type="button" class="btn btn-lg btn-primary btn-lg btn-block">Faça sua reserva já!</button>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 mh-100" src="~/trindadetobago.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mh-100" src="~/amazonas.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mh-100" src="~/costarica.jpg" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div> 

