@{
    ViewData["Title"] = "Promoções";
}
<h1 class="text-center">@ViewData["Title"]</h1>


<div class="container p-5 my-5 border bg-dark">
    <h1 style="text-align: center;" class="text-white">As Melhores promoções Nacionais  você só encontra aqui! </h1>
</div>

<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Jeri.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Jericoacoara - Ceará</h5>
            <p class="card-text">Aéreo com saída de Congonhas, estadia, quarto para casal, wi-fi, café da manhã, passeio de buggy, passieo no centro histórico, mergulho, jantar no hotel.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">20 de Agosto a 23 de Agosto</li>
            <li class="list-group-item"><strike>De:R$ 980,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 500,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Pipa.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pipa - Rio Grande do Norte</h5>
            <p class="card-text">Aéreo com saída de Congonhas, translado, estadia, quarto para casal, wi-fi, café da manhã, passeio de escuna, passieo nas praias da região, jantar no hotel.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">07 de Agosto a 09 de Agosto</li>
            <li class="list-group-item"><strike>De:R$ 900,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 400,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/ParatyIcone.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Paraty - Rio de Janeiro</h5>
            <p class="card-text">Ônibus com saída de Diadema, estadia, quarto para casal, wi-fi, café da manhã, passeio de escuna, passieo no centro histórico, jantar.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">07 de Agosto a 09 de Agosto</li>
            <li class="list-group-item"><strike>De:R$ 450,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 200,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>
</div>


<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/ibitipoca.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ibitipoca - Minas Gerais</h5>
            <p class="card-text">Aéreo até Minas e de ônibus até Ibitipoca, estadia, quarto para casal, wi-fi, café da manhã, passeio com guia pela Janela do Céu, passieo nas cachoeiras ao redor, jantar no hotel.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">29 de Agosto a 10 de Setembro</li>
            <li class="list-group-item"><strike>De:R$ 1000,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 490,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/cataratas.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cataratas do Iguaçu - Paraná</h5>
            <p class="card-text">Aéreo com saída de Congonhas e Galeão, translado, estadia, quarto para casal, wi-fi, café da manhã, passeio de Turistico pelas Cataratas, jantar no hotel.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">20 de Agosto a 30 de Agosto</li>
            <li class="list-group-item"><strike>De:R$ 1500,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 695,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/monte-roraima.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Monte Roraima - Roraima</h5>
            <p class="card-text">Saida do Galeão e Congonhas, estadia, quarto para casal, wi-fi, café da manhã, passeio Turistico pelo Monte, jantar.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">21 de Outubro a 07 de Novembro</li>
            <li class="list-group-item"><strike>De:R$ 1600,00 por pessoa</strike></li>
            <li class="list-group-item">Por Apenas: <b style="color:red">R$ 400,00 por pessoa</b></li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg btn-block">Reservar</button>
        </div>
    </div>
</div>